<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{accion}} sesión</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cierre usuario')"></button>
</div>
<div class="modal-body">
  <div class="form-group">
      <label for="inicio">Fecha Inicio:</label>
      <input class="form-control" type="datetime-local" id="inicio" [(ngModel)]= "sesion.inicio">
      <label for="fin">Fecha Fin:</label>
      <input class="form-control" type="datetime-local" id="finF" [(ngModel)]= "sesion.fin">
      <label for="trabajo">Trabajo Realizado:</label>
      <input class="form-control" type="text" id="trabajo" [(ngModel)]= "sesion.trabajoRealizado">
      <label for="descripcion">Descripción:</label>
      <textarea class="form-control" type="text" id="descripcion" [(ngModel)]= "sesion.descripcion"> </textarea>
      <label for="presencial">Presencial:&emsp;</label>
      <input class="form-check-input" id="presencial" name="presencial" [(ngModel)]= "sesion.presencial"
      type="checkbox"><label class="form-check-label" for="presencial"></label><br>
      <label for="pulsaciones">Pulsaciones del corazón:</label><br>
      <input class="form-control" type="text" id="pulsaciones" [(ngModel)]= "sesion.datosSalud[0]">
      <label for="pulsaciones">Peso (en kg):</label><br>
      <input class="form-control" type="text" id="peso" [(ngModel)]= "sesion.datosSalud[1]">
      <label for="pulsaciones">Calorías consumidas estimadas:</label><br>
      <input class="form-control" type="text" id="calorias" [(ngModel)]= "sesion.datosSalud[2]">
      <label for="pulsaciones">Tiempo de ejercicio:</label><br>
      <input class="form-control" type="text" id="tiempo" [(ngModel)]= "sesion.datosSalud[3]">
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="guardarSesion()">Guardar sesión</button>
</div>