<div class="container">
  <div class="row">
    <h2 >Detalles de {{sesion?.trabajoRealizado}}</h2>
  </div>

<div class="row">
  <label class="col-md-3" for="id">Inicio:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.inicio | date:'dd/MM/yyyy HH:mm:ss'}}</span>
</div>
<div class="row">
  <label class="col-md-3" for="id">Fin:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.fin| date:'dd/MM/yyyy HH:mm:ss'}}</span>
</div>
<div class="row">
  <label class="col-md-3" for="id">Trabajo realizado:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.trabajoRealizado}}</span>
</div>
<div class="row">
  <label class="col-md-3" for="id">Multimedia:</label>
  <span class="col-md-9 offset-2 offset-md-0">
    <ul>
    @for (m of sesion?.multimedia; track $index){
      <li><a [href]= "m" >{{m}}</a></li>
    }
  </ul>
</span>
</div>
<div class="row">
  <label class="col-md-3" for="id">Descripcion:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.descripcion}}</span>
</div>
<div class="row">
  <label class="col-md-3" for="id">Presencial:</label>
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.presencial}}</span>
</div>
<div class="row">
  <label class="col-md-3" for="id">Pulsaciones:</label> 
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.datosSalud?.at(0)}}</span>
  <label class="col-md-3" for="id">Peso:</label> 
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.datosSalud?.at(1)}}</span>
  <label class="col-md-3" for="id">Calorías estimadas:</label> 
  <span class="col-md-9 offset-2 offset-md-0">{{sesion?.datosSalud?.at(2)}}</span>
  <label class="col-md-3" for="id">Tiempo de ejercicio:</label> 
  <span class="col-md-9 offset-2 offset-md-0"> {{sesion?.datosSalud?.at(3)}}</span>
</div>



<div class="row">
  <button class="col-auto btn btn-outline-primary" (click)="eliminarSesion()">Eliminar <i class="bi bi-trash-fill"></i></button>
  <div class="col-1"></div>
  <button class="col-auto btn btn-outline-primary" (click)="editarSesion()">Editar <i class="bi bi-pencil-fill"></i></button>
</div>

</div>
